body {
	/*background-image: url("pictures/light-blue-background.jpg");
	background-repeat: round;*/
	background: rgb(0,113,196);
	background: linear-gradient(90deg, rgba(0,113,196,1) 0%, rgba(152,173,189,1) 100%);
}

#setMinus,#setPlus {
	height: 64px;
	width: 64px;
	background-repeat: round;
	background-color: transparent;
}

#setMinus {
	background-image: url("pictures/down.png");
}

#setPlus {
	background-image: url("pictures/up.png");
}

.large {
	font-size: 50px;
	border: 2px solid black;
	margin: 10px;
	text-align: center;
}

.programs button{
	background-color: rgba(175, 175, 0, 0.5);

}

button {
	font-size: 50px;
	padding: 30px;
}

#CT,#HF {
	color: red;
}

#ST {
	color: orange;
}


/* Definitions for hourly weather grid */
.grid-container-weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-container-weather > div {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Definitions for wind meter */
.arc {
	transform: rotate(180deg);
  transform-origin: center center;
}

#windVane {
  transform-origin: center center;
}


/* Definitions for hourly weather grid */
.grid-container-hourly {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  font-size: 0.6em;
}
.grid-container-hourly > * {
  border: 1px solid black;
  display: flex;
	align-items: center;
	justify-content: center;
}


/* Definitions for radio toggle */
.switch-field {
	/*display: flex;
	margin-bottom: 36px;*/
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
